body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color, #f0f0f0);
    color: var(--text-color, #333);
    margin: 0;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    background-color: var(--header-background, #f0f0f0);
    color: var(--header-text, #fff);
    padding: 10px;
}

section {
    margin-top: 20px;
}

h1 {
    color: var(--header-color, #333);
}

p {
    line-height: 1.6;
}

button,
select {
    background-color: var(--button-background, #3498db);
    color: var(--button-text, #fff);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease;
    border-radius: 10px; 
    width: auto;
    height: auto;
}

button:hover,
select:hover {
    background-color: var(--button-hover, #2980b9);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    border-radius: 10px;
    width: 150px; 
    height: 150px;
    margin-bottom: 10px;
}

.about-text {
    text-align: left;
}

.instagram-logo {
    width: 24px;
    height: 24px;
    margin-left: 1px;
}
